<!-- 
<div style="margin-left: 250px">
      
    <ul >
        
      <button style="background-color :dodgerblue;border: none;margin-left: 20px;" (click)="ComputerShow()">Computer Science</button>
       

      
  <button style="background-color:darkolivegreen;border: none;margin-left: 20px;" (click)="ITShow()">Information Technology</button>
       
      

       <button style="background-color :deeppink;border: none;margin-left: 20px;" (click)="ECShow()">Electronic and Communication</button>
        
          </ul>
          </div> -->
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                    <button style="background-color :dodgerblue;" (click)="ComputerShow()">Computer Science</button>
                  </div>
                  <div class="col-md-4">
                    <button style="background-color:darkolivegreen;" (click)="ITShow()">Information Technology</button>
                  </div>
                  <div class="col-md-4">
                    <button style="background-color :deeppink;" (click)="ECShow()">Electronic and Communication</button>
                  </div>
              </div>
          </div>
<router-outlet></router-outlet>