<!-- <div class ="container">
  <div class="row">
    <div class="col-lg-11 ">
<p>
    Finance is a field that is concerned with the allocation (investment) of assets and liabilities over space and time, often under conditions of risk or uncertainty. Finance can also be defined as the science of money management. Market participants in the market aim to price assets based on their risk level, fundamental value, and their expected rate of return. Finance can be broken into three sub-categories: public finance, corporate finance and personal finance.
</p>
</div>
</div>
</div> -->
<p style="margin-left: 300px;margin-top: 30px">
     Finance is a field that is concerned with the allocation (investment) of assets and liabilities over space and time, often under conditions of risk or uncertainty. Finance can also be defined as the science of money management. Market participants in the market aim to price assets based on their risk level, fundamental value, and their expected rate of return. Finance can be broken into three sub-categories: public finance, corporate finance and personal finance.

</p>
