/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.but
{
height:200px;
}
.module
{
 
    color: red;
margin-top: 50px;
float: left;
}
.menu
{
    /* float: right; */
    margin-top: 50px;
    position: relative;
}
.button{
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
height:60px;
    width:130px;
}
.container {
    width: 300px;
    font: 17px Calibri;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }