<html>

<body style="background-color: darkgray">
<div style="margin-top: 30px">
<ul style="float:left;">
        
  <li> <button class="button" routerLink="/home/department" routerLinkActive="active">Department</button></li> 
     

    
<li><button class="button"  style="margin-top: 10px" routerLink="/home/employee" routerLinkActive="active">Employee</button></li> 
     
    

<li>   <button class="button"  style="margin-top: 10px;" routerLink="/home/finance" routerLinkActive="active">Finance</button></li> 
      
        </ul>
      </div>
    </body>
    </html>
    <!-- <div class="container-fluid">
      <div class="row">
               <div class="col-md-1">
                <li> <button class="button" routerLink="/home/department" routerLinkActive="active">Department</button></li> 
     

    
                <li><button class="button"  style="margin-top: 10px" routerLink="/home/employee" routerLinkActive="active">Employee</button></li> 
                     
                    
                
                <li>   <button class="button"  style="margin-top: 10px;" routerLink="/home/finance" routerLinkActive="active">Finance</button></li> 
               </div>                                                                                                                                                                                                                                                                                   
      </div>
    </div> -->
<router-outlet></router-outlet>